<!DOCTYPE html>
<html>
<head>
  <title>Lanchonete QTOP!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="text-center">
      <br>
      <h1 class="mb-4">Lanchonete QTOP!</h1>
      <br>

      <div class="row justify-content-center">
        <div class="col-md-6">
          <h3>Olá, cliente! Tudo bem?! Gostaria de se identificar?</h3>

          <form action="/validar-cpf" method="POST">
            <div class="form-group">
              <label for="cpf">CPF:</label>
              <input type="text" class="form-control" id="cpf" name="cpf">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>

      <hr>

      <p class="text-center">ou</p>

      <div class="row justify-content-center">
        <div class="col-md-6">
          <h3>É novo(a) por aqui e gostaria de se cadastrar?</h3>

          <form action="/cadastrar_cliente" method="POST">
            <div class="form-group">
              <label for="nome">Nome:</label>
              <input type="text" class="form-control" id="nome" name="nome">
            </div>
            <div class="form-group">
              <label for="cpf">CPF:</label>
              <input type="text" class="form-control" id="cpfc" name="cpf">
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>

      <hr>

      <br><br>
      <p class="text-center">Ou se preferir, pode ir direto ao nosso <a href="/lanches">cardápio</a></p>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
