<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .card-img-top {
      width: 200px;
      height: 150px;
    }
  </style>
  <title>Lanches</title>
</head>
<body>
  <div class="container">
    <h1 class="text-center">Lanchonete QTOP! - Lanches</h1>
    <br>
    <br>
    <div class="row">
      {% for lanche in lista_lanche %}
      <div class="col-md-4">
        <div class="card mb-3">
          <img src="{{ url_for('static', filename=lanche['arquivo']) }}" class="card-img-top" alt="{{ lanche['arquivo'] }}">
          <div class="card-body">
            <h5 class="card-title">{{ lanche['item'] }}</h5>
            <p class="card-text">{{ lanche['descricao'] }}</p>
            <p class="card-text">Preço: R$ {{ lanche['preco'] }}</p>
            <a href="#" class="btn btn-primary add-to-cart" data-item="{{ lanche['item'] }}">Adicionar ao Pedido</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <br>
    <br>
    <div class="text-center">
      <a href="/bebidas" class="btn btn-primary">Bebidas</a>
      <a href="/acompanhamentos" class="btn btn-primary">Acompanhamentos</a>
      <a href="/sobremesas" class="btn btn-primary">Sobremesas</a>
      <a href="/finalizar_pedido" class="btn btn-primary">Finalizar Pedido</a>
    </div>
    <br>
  </div>
</body>
</html>
